* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	margin: 0px;
    color: white;
}

html {
    background-color: rgb(0, 7, 15);
}

ul {
    padding: 0 0 0 20px;
}

li {
    margin: 5px 0 5px 0;
}

header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 241, 252);
}

h1 {
    color: rgb(0, 7, 15);
}

article {
    width: 80vw;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

div {
    padding: 0 0 20px 0;
}

h2 {
    margin-bottom: 20px;
}

#foto {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    margin: 0 auto;
}